@media (min-width: 991px) {
  .container {
    width: 100%;
    height: 100%;
   }
 }
@media (max-width: 990px) and (min-width: 641px) {
  .container {
    width: 100%;
    height: 100%;
    font-size: 50%;
    flex-wrap: wrap;       
  }
    }
@media (min-width: 360px) {
  .container {
    width: 100%;
    height: 100%;
    font-size: 30%;
    flex-wrap: wrap;
      }
  }
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,
a {
  list-style: none;
  text-decoration: none;
}
.container {
  font-size: 100%;
  display: flex;
  flex-wrap: wrap;
  background-image: url("https://github.com/SlepenkovaT/m-diplom/blob/main/img/ac4abef1daf260595e4ff90b30750c65.jpg?raw=true");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}
.img {
  margin-top: 10%;
  margin-left: 25%;
  width: 100%;
}
.logo {
  position: absolute;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  font-size: 60%;
  letter-spacing: 6px;
  text-align: left;
  margin-left: 3%;
}
.registration {
  display: flex;
  flex-wrap: wrap;
  margin-top: 5%;
  width: 100%;
  }
.heading-container {
  display: flex;
  background: #63536c;
  padding: 4% 6% 3% 14%;
  margin-top:2%;
   }
.heading {
  display: flex;
  font-family: Roboto, sans-serif;
  color: #ffffff;
  text-transform: uppercase;
  font-size: 120%;
    }
.heading::before {
  content: "";
   position: absolute;
   color: #bc95d6;
  left:6%;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  border: 4px solid #bc95d6;
  background: #ffffff;
}
.heading-container::before {
  content: "";
  position: absolute;
  left:7.2%;
  top: 0%;
  bottom:0%;
  color: #bc95d6;
  border-left: 2px #bc95d6 solid;
}
.heading-container::after {
  content: "";
  align-self: center;
  margin-left: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url(https://github.com/SlepenkovaT/m-diplom/blob/main/img/73d6479ead61b1ba48fd002b57c8c317.png?raw=true);
  height: 16px;
  width: 24px;
}
.conf-step__wrapper {
  color: #000000;
  width: 100%;
  background: #eae9ebf2;
  font-family: Roboto, sans-serif;
  font-size: 100%;
   position: relative;
   }
.button {
  display: flex;
  width: 20%;
  padding: 1% 3% 1% 3%;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  font-size: 90%;
   text-align: center;
  border: none;
  background: #16a6af;
  color: #ffffff;
  text-transform: uppercase;
 
}
.info {
  padding-top: 3%;
  padding-left:10%;
}
.list {
   padding-top: 5%;
   display: flex;
   }
.list-link{
  color:black;
}
.item { 
  display: flex;
  padding: 1%;
  gap:1%;
}

.conf-step__selector {
  padding: 2% 3% 2% 3%;
  border-radius: 3px;
  box-shadow: 0px 0px 3px 0px #0000001f;
  box-shadow: 0px 3px 3px 0px #0000003d;
  background: #ffffff73;
  opasity: 0.45;
  font-family: Roboto, sans-serif;
  color:#000000;
}
.conf-step__selector:hover {
  padding: 2% 3% 2% 3%;
  box-shadow: 0px 0px 2px 0px #0000001f;
  box-shadow: 0px 2px 2px 0px #0000003d;
  box-shadow: 0px 6px 8px 0px #0000003d;
  background-color: #ffffff;
  font-weight: 900;
  color:#000000;
  }
.conf-step {
  padding: 2% 3% 2% 3%;
  box-shadow: 0px 0px 2px 0px #0000001f;
  box-shadow: 0px 2px 2px 0px #0000003d;
  box-shadow: 0px 6px 8px 0px #0000003d;
  background-color: #ffffff;
  font-weight: 900;
}

.conf-step__legend {
  display: flex;
  color: #848484;
  padding-top: 2%;
}
.text-place {
  padding-left: 10%;
}
.field {
  width: 80%;
  border: 1px #b7b7b7 solid;
  color: #848484;
  padding: 4% 0% 4% 3%;
  }
.status {
  display: flex;
}
.status-place {
  display: flex;
  gap: 0.8em;
  padding: 4% 3% 2% 3%;
  color: #848484;
}
.screen {
  box-sizing: content-box;
  width: 95%;
 padding: 5% 0 5% 0;
  border: 1px solid #000000;
}
.screen::before {
  content: "Экран";
  display: block;
  text-align: center;
  font-family: Roboto, sans-serif;
  font-size: 100%;
  text-align: center;
  padding: 2% 0;
  letter-spacing: 19px;
}
.row {
  display: flex;
  justify-content: center;
  gap: 1%;
  margin-top:1%;
}
.place {
  box-sizing: border-box;
  display: flex;
  width: 26px;
  height: 26px;
  border-radius: 0.4em;
  border: 1px solid #393939;
  background: #c4c4c4;
  }
.place-none {
  background: none;
  border: 1px solid #c4c4c4;
}
.place-vip {
  background-image: url("https://github.com/SlepenkovaT/m-diplom/blob/main/img/span.conf-step__chair.png?raw=true");
}
.conf-step__hint {
  color: #848484;
  padding: 3% 0;
  font-size: 100%;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  }
.input-cancellation {
  display: flex;
  width: 17%;
  padding: 2% 3% 2% 3%;
  border-radius: 3px;
  font-family: Roboto, sans-serif;
  border: none;
  background: #ffffff;
  color: #63536c;
  text-transform: uppercase;
  justify-content: center;
}
.button-save {
  width: 23%;
  padding: 2% 3% 2% 3%;
  border-radius: 0.3em;
  font-family: Roboto, sans-serif;
  border: none;
  background: #16a6af;
  color: #ffffff;
  text-transform: uppercase;
  }
.container-button {
  justify-content: center;
  padding: 4%;
  display: flex;
  gap:1%;
  font-size: 90%;
  }
.price {
  align-items: center;
}
.place-type {
  align-items: center;
  display: flex;
  }
.price-field {
  width: 35%;
  padding: 5% 0% 5% 3%;
  border: 1px #b7b7b7 solid;
  color: #000000;
 }
.new-movie {
  width: 25%;
  padding: 2% 3% 2% 3%;
}
.list-movie {
  display: flex;
  flex-wrap:wrap;
  gap: 1%;
 
 }
.poster {
  width: 20%;
  height: 80%;
}
.movie {
  display: flex;
  flex-wrap:wrap;
   padding-top:1%;
    width:32%;
  height:100%;
}
.seances-hall {
  padding-top: 5%;
}
.movie__description {
  position: relative;
  padding: 0 4%;
  width: 80%;
  padding: 2% 3% 2% 3%;
  background: #caff85;
  border: 1px solid #0000004d;
  display: block;
  font-family: Roboto, sans-serif;
  font-size: 85%;
  text-align: left;
}
.color-green {
  background: #85ff89;
}
.color-turquoise {
  background: #85ffd3;
}
.color-blue {
  background: #85e2ff;
}
.color-violet {
  background: #8599ff;
}
.btn {
  display: flex;
  box-sizing: border-box;
  background-color: #ffffff;
  width: 1.25em;
  height: 1.25em;
  box-shadow: 0px 3px 3px 0px #0000003d;
  border: none;
  border-radius: 3px;
  align-items: center;
  justify-content: center;
  
}
.btn::before {
  content: "";
  display: block;
  background-repeat: no-repeat;
  background-image: url("https://github.com/SlepenkovaT/m-diplom/blob/main/img/__before%20(1).png?raw=true");
  width: 1em;
  height: 1em;
 
}
.basket{
 position: absolute;
  right:0.5%;
  bottom:0.6%;
}

.inner {
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
  width: 90%;
  padding: 1% 0% 1% 0%;
  border: 1px solid #848484;
}
.inner-hall {
  display: flex;
  flex-wrap:wrap;
  justify-content: end;
  width: 90%;
  padding: 1% 0% 1% 0%;
  border: 1px solid #848484;
}
.box {
  display: flex;
  align-self: center;
  width: 10%;
  padding: 1% 1% 1% 1%;
  background: #85ff89;
  border: 1px solid #0000004d;
  position: relative;
}

.desc-title {
  font-family: Roboto, sans-serif;
  font-size: 60%;
  font-weight: 400;
  text-align: left;
  }
.description{
  margin-left:40%;
  position: relative;
  }
.box-color {
  background: #caff85;
  position: relative;
}
.hall-start-sales {
   gap:5%;
   display: flex;
}
.button-start-sales {
  display: block;
  width: 30%;
  padding: 2% 1% 2% 1%;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin-bottom:5%;
  }
.start{
  display: block;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  margin:5% 0%;
}
button{
box-shadow: 0px 0px 3px 0px #0000001F;
  box-shadow: 0px 3px 3px 0px #0000003D;
}

.box-color::before {
 content: "";
 position: absolute;
  bottom:-40%;
 left:0;
 height:10%;
 border: 1px #848484 solid;
}
.box::before {
 content: "";
 position: absolute;
 bottom:-40%;
 left:0;
 height:10%;
 border: 1px #848484 solid;
}
.box::after {
  content: "12:00";
 position: absolute;
 bottom:-90%;
  left:-15%;
  font-size: 80%;
  color:#848484;
}
.box-color::after {
  content: "14:00";
 position: absolute;
 bottom:-90%;
  left:-20%;
  font-size: 80%;
  color:#848484;
}
.box-time::after {
  content: "19:50";
 position: absolute;
 bottom:-90%;
  left:-20%;
  font-size:80%;
  color:#848484;
}
.time::after {
  content: "22:00";
 position: absolute;
 bottom:-90%;
  left:-20%;
  font-size: 80%;
  color:#848484;
}
.time-box::after {
  content: "00:00";
 position: absolute;
 bottom:-90%;
  left:-20%;
  font-size: 80%;
  color:#848484;
}
