* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
ul,
li,a {
  list-style: none;
  text-decoration: none;
}
.container {
    display: flex;
    flex-wrap: wrap;
    background-image: url("https://s3-alpha-sig.figma.com/img/aa07/31f6/ac4abef1daf260595e4ff90b30750c65?Expires=1716163200&Key-Pair-Id=APKAQ4GOSFWCVNEHN3O4&Signature=pLXLuXdteZNzBROvsFF0i3D~M6TWfH58eJ-UdjqIkfrkrYzJSDwMijUYtlgIpc7R0aVNjmbiJAPhiGsOdP~fTghwtn6gw8C0fD0dXtaUSh4WekxsY~QS7H27Qr8yDNnvlsf5~ZX2r7oILIgO0IShb1-afDgRAjZOQVbmQAz-Qe6eEGGF417x-WhoH~PnHpfnjMJYqzVo3d6hlSGhMAz12fbXq2m8riQagpO4oBQHOGKUMDnG6TDalQue8hxhkCyAkbuoznZBxyMbeQfS6hEdlbfHWJAVgtB6j9F8y00eCxjWhG7~IjSgjRhXsjOmly0IYlIfDvjCLgs5XD9OCblWQg__");
    background-repeat: no-repeat;
    background-size: cover;
    width: 990px;
    border-radius: 2px 0px 0px 0px;
    margin-left: auto;
    margin-right: auto;
    height: 900px;
  }
  .logo {
    position: absolute;
    top:36px;
    color:#ffffff;
    letter-spacing: 3px;
    font-family: Roboto,sans-serif;
  font-size: 10px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 6px;
  text-align: left;
  }
  .section-container {
    width: 480px;
    height: 57px;
    padding: 16px 104px 16px 104px;
    background: #63536c;
    margin-top:120px;
    }
  .registration{
    margin-left: auto;
    margin-right: auto;
  }
  .heading {
    font-family: Roboto, sans-serif;
    font-size: 22px;
    font-weight: 700;
    line-height: 25px;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
  }
  .form {
     display: flex;
    flex-wrap: wrap;
    justify-content:center;
     width: 480px;
    padding: 16px 104px 16px 104px;
    background: #eae9ebf2;
    margin-left: auto;
    margin-right: auto;
    color:#848484;
  }
  .field {
    border: 1px solid #b7b7b7;
    width: 272px;
    height: 36px;
    padding: 8px 8.8px 9px 8.8px;
    }
  .button {
    display: block;
    width: 189px;
    height: 57px;
    font-family: Roboto, sans-serif;
    padding: 11.2px 31.55px 11.9px 31.93px;
    margin-top:30px;
    margin-bottom:20px;
    line-height: 16px;
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    border-radius: 3px;
    background: #16a6af;
    color: #ffffff;
   box-shadow: 0px 0px 3px 0px #0000001F;
  box-shadow: 0px 3px 3px 0px #0000003D;
    border: none;
  text-align: center;
   }
  
  